$sizeAlbum: 100px
$fontAlbum: 3.8rem
$sizeTrack: 35px
$fontTrack: 1rem

.cover
    width: fit-content
    
    .cover-image
        position: relative
        .button-play
            top: 50%
            left: 50%
            position: absolute
            text-align: center
            z-index: 1

            .container-icon
                display: flex
                justify-content: center
                align-items: center
                height: 100%
                .icon.album
                    color: white !important
                    font-size: $fontAlbum
                .icon.track
                    color: black !important
                    font-size: $fontTrack
    
        .button-play.album
            width: $sizeAlbum
            height: $sizeAlbum
            margin: calc($sizeAlbum / -2) 0 0 calc($sizeAlbum / -2)

        .button-play.track
            width: $sizeTrack
            height: $sizeTrack
            margin: calc($sizeTrack / -2) 0 0 calc($sizeTrack / -2)
            display: none
            background: white
            border-radius: 50%
            
    &:hover
        .picture-img
            opacity: 0.86

        .button-play.track
            display: block !important