<div class="row">
    <div class="col-md-7">
        <div class="input-group mb-3">
            <input 
                [(ngModel)]="find" 
                (keyup.enter)="search(find)" 
                (keyup)="searchKey($event)" 
                type="text" class="form-control" 
                placeholder="Buscar"
                [disabled]="(loadingAlbum || loadingAlbum)"
                >
            <button 
                (click)="search(find)" 
                class="btn btn-outline-secondary" 
                type="button" 
                id="search"
                [disabled]="(loadingAlbum || loadingAlbum)"
                >
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
    </div>
</div>

<div *ngIf="tracksCurrent[current] == null && !(loadingAlbum || loadingTrack)" class="row">
    <div class="col-12 text-center cl-red">
        <p>Encuentre su música o álbum favorito..</p>
    </div>
</div>

<!-- Artista destacado --> 
<div *ngIf="tracksCurrent[current] != null" class="mb-3">
    <div class="row">
        <div class="col-auto p-0">
            <div (click)="playTrack(current)" class="cover">
                <div class="cover-image">
                    <div class="button-play album">
                        <div class="container-icon">
                            <fa-icon class="icon album" [icon]="idAlbumLoading == tracksCurrent[current].id?faSpinner :faPlay" [pulse]="idAlbumLoading == tracksCurrent[current].id"></fa-icon>
                        </div>
                    </div>
                    <img style="vertical-align: text-top;" (error)="notFoundImage($event, 250)" [src]="tracksCurrent[current].album.coverMedium" class="picture-img card-img-top" [alt]="tracksCurrent[current].title">
                </div> 
            </div>
        </div>
        <div class="col w-100 bg-red-light-opacity cl-white">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-12 px-2 py-3">
                    <h5>{{tracksCurrent[current].album.title}} (Rank: {{tracksCurrent[current].rank}})</h5>
                    <p>Lo mejor de {{tracksCurrent[current].artist.name}}</p>
                    <br>
                    <br>
                    <br>
                    <button (click)="playTrack(current)" class="btn btn-secundario">
                        Reproducir
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Listado de canciones -->

<div *ngIf="loadingTrack" class="row my-3">
    <div class="col-12 text-center cl-red">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Cargando canciones...</p>
    </div>
</div>

<div [hidden]="tracks.length == 0 || loadingTrack" class="row mt-2">

    <div class="col-12">
        <h5 class="cl-red" style="font-weight: bold;">
            Canciones
        </h5>
    </div>
    <table id='table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-hover table-responsive-sm w-100 col-12 " cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Canción <fa-icon [icon]="faMusic"></fa-icon></th>
            <th>Artista <fa-icon [icon]="faUser"></fa-icon></th>
            <th>Álbum <fa-icon [icon]="faCompactDisc"></fa-icon></th>
            <th>Duración <fa-icon [icon]="faClock"></fa-icon></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of tracks;let i = index" [attr.data-index]="i">
            <td>{{i + 1}}</td>
            <td>
                <div (click)="playTrack(i)" class="cover d-inline-flex">
                    <div class="cover-image">
                        <div class="button-play track">
                            <div class="container-icon">
                                <fa-icon class="icon track" [icon]="faPlay"></fa-icon>
                            </div>
                        </div>
                        <img (error)="notFoundImage($event, 56)" class="picture-img" [src]="item.album.coverSmall" [alt]="item.album.title">
                    </div>
                </div>
                
                <div class="d-inline-flex p-3">
                    {{item.title | sliceTexto:15}}
                </div>
                
            </td>
            <td style="vertical-align: middle;">{{item.artist.name}} </td>
            <td style="vertical-align: middle;">{{item.album.title}} </td>
            <td style="vertical-align: middle;">{{item.duration | secondsToMinutes}}</td>
        </tr>
        </tbody>
    </table>
</div>

<!--Listado de Albums--->

<div *ngIf="loadingAlbum" class="row my-3">
    <div class="col-12 text-center cl-red">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Cargando álbumes...</p>
    </div>
</div>

<div [hidden]="albums.length == 0" class="row mt-5">
    <div class="col-12">
        <h5 class="cl-red" style="font-weight: bold;">
            Álbumes
        </h5>
    </div>

    <div *ngFor="let item of albums" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 my-2">
        <div class="card m-auto" style="width: 15rem;border-color:white">
            <div (click)="playAlbum(item)" class="cover">
                <div class="cover-image">
                    <div class="button-play album">
                        <div class="container-icon">
                            <fa-icon class="icon album" [icon]="idAlbumLoading == item.id?faSpinner :faPlay" [pulse]="idAlbumLoading == item.id"></fa-icon>
                        </div>
                    </div>
                    <img (error)="notFoundImage($event, 250)" [src]="item.coverMedium" class="picture-img card-img-top" [alt]="item.title">
                </div> 
                
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.artist.name}}</p>
            </div>
        </div>
    </div>
</div>

<app-music-player [current]="current" [tracksCurrentInput]="tracksCurrent"></app-music-player>