<nav class="bg-dark-red cl-white">
    <div id="logo" class="p-md-4 mt-3">
        <img src="/assets/images/foxbel-music.png" alt="logo">
    </div>
    <div class="title">
        Mi Librería
    </div>
    <ul class="menu">
        <li>
           <div class="nav-item">
                Recientes
           </div> 
        </li>
        <li>
            <div class="nav-item">
                Artistas
           </div>
        </li>
        <li>
            <div class="nav-item">
                Albums
           </div>
        </li>
        <li>
            <div class="nav-item">
                Canciones
           </div>
        </li>
        <li>
            <div class="nav-item">
                Estaciones
           </div>
        </li>
    </ul>
    <div class="title mt-1">
        Playlist
    </div>
    <ul class="menu">
        <li>
            <div class="nav-item">
                Metal
           </div>
        </li>
        <li>
            <div class="nav-item">
                Para bailar
           </div>
        </li>
        <li>
            <div class="nav-item">
                Rock 90s
           </div>
        </li>
        <li>
            <div class="nav-item">
                Baladas
           </div>
        </li>
    </ul>
</nav>