$red: #E86060
$darkRed: #662323
$lightRed: #FF7676
$footer: #EB5757
$white: #fff


.cl-white
    color: $white !important

.cl-red
    color: $red !important



// Background
.bg-
    &footer
      background: $footer  
    &dark-red
      background: $darkRed  